@mixin br($radius) {
  border-radius: $radius;
}

@mixin rotate($deg){
  transform: rotate($deg);
}

@mixin horizontal-center {
  left: 50%;
  transform: translateX(-50%);
}

@mixin back-btn {
  width: 30px;
  height: 30px;
  overflow: hidden;
  text-indent: -500px;
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #bfbfbf;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #9a9a9a;
  }
}

@mixin abs{
  position: absolute;
}

@mixin abs-r{
  right: 0;
  @include abs;
}

@mixin abs-l{
  left:0;
  @include abs;
}

@mixin ellipsis($l){
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $l;
  -webkit-box-orient: vertical;
}

@mixin fontSize($screenSize,$fontSize){
  @media(max-width:$screenSize) {
    font-size: $fontSize;
  }
}
@mixin displayBlock($screenSize,$display){
  @media(max-width:$screenSize) {
    display:$display;
  }
}

@mixin dynamicProperty($screenSize,$prop, $val){
  @media(max-width:$screenSize) {
    $prop:$val;
  }
}

@mixin backgroundSize($w, $h){
  background-size: $w $h;
}

@mixin setCounter($type, $listType){
  content: "(" counter($type, $listType) ")";
  counter-increment: $type;
}
