@import "variables";
@import "fonts";
@import "mixins";
@import "common";
@import "grid";

body{
  background-color: #F4F4F4;
}

%card-column {
  float: left;
  padding: 0 10px 0 0;
  margin-bottom: 40px;
}
%card-row {
  margin: 0 -5px;
}
%card-content {
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 16px;
}

/* Main Content start */
.main-content{
    width: 70%;
    margin: 0 auto 0 auto;

    @media (min-width: 600px) and (max-width:1000px){
        width: unset;
        margin: 0 20px;
    }

    @media (max-width: 599px){
       width: 100%;
   }
}
/* Main Content end */

/*@Error pages starting*/
.error-page{
  padding:96px 0;
  @extend .text-center;
  h2{
    padding: 0 0 25px;
  }
  .btn-block{
    max-width: 320px;
    margin: 0 auto;
  }
  .footer-order-error{
    border-top: 1px solid #DBDBDB;
    padding-top: 20px;
    margin: 0 15px;
    text-align: left;
    a{
      color: $blue;
    }
  }
}
/*@Error pages end*/

/*@Header starting*/
.header-fixed{
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  padding: 20px 5% 20px 5%;
  @media(max-height:520px) {
    bottom: 0;
    position: relative;
  }
}
/*@Header end*/

/*@Footer starting*/
.footer-fixed{
  color: white;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  padding: 20px 15% 20px 15%;
  @media(max-height:520px) {
    bottom: 0;
    position: relative;
  }

  .footer-tnc{
    padding-right: 20px;
  }
}
/*@Footer end*/

/*@Dashboard starting*/
.dashboard-card{
  background-color: white;
  padding: 25px;

  .card-title{
    font-family: $SamsungSharpSansBold !important;
    font-size: 30px;
    padding-right: 25px;
  }

  .card-status{
    font-size: 12px;
    background-color: #F3F3F6;
    border-radius: 4px;
    padding: 8px;
  }

  .submit-claim-btn{
    padding: 19px 48px 19px 48px;
    width: 190px;
    background-color: #1428A0;
    color: white;
    border-radius: 30px;
    float: right
  }
}
/*@Dashboard end*/