$primary-color:#000;
$light-grey:#f6f6f6;
$grey:rgb(234, 234, 234);
$dark-grey:#2E2C2B;
$form-control-bdr-clr:#707070;
$white:#ffffff;
$black:#000000;
$red:#D93B30;
$green:#4B830D;
$box-shadow:0 2px 6px rgba(0, 0, 0, 0.2);
$white-transparent:rgba($white, 0.3);
$blue:#00B3E3;
$btn-primary-color:#0077CB;
$btn-secondary-color: #1428A0